
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.ev_desc {
    max-width: 200px;
    
}

.center #adm_img{
    aspect-ratio: 16/9;
    width:110px;
}